<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-top navbar-main">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="rounded-rectangle-15 example-site-text">Example Site</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-main-list">
                    <li>@Html.ActionLink("How It Works", "Index", "Home")</li>
                    <li>@Html.ActionLink("In the News", "Index", "Home")</li>
                    <li>@Html.ActionLink("Our Locations", "Index", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li><span class="facebook"></span></li>
                    <li><div class="rounded-rectangle-11 phone-number"><i class="phone-icon"></i>555 - 555 - 5555</div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hero-unit"></div>
    <div class="container body-content">
        
        @RenderBody()
    </div>
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom navbar-footer">
            <div class="container">
                <div class="row">
                    <div class="navbar-center navbar-footer-top">
                        <ul class="nav navbar-nav navbar-caps">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">In the News</a></li>
                            <li><a href="#">Our Locations</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="navbar-center navbar-footer-bottom">
                        <ul class="nav navbar-nav">
                            <li><a>&copy; Example Site 2016</a></li>
                            <li><a>Privacy Statement</a></li>
                            <li><a>Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
